input,textarea{outline:none;}

.my_btngroup
{
	float: right;
	background-color: rgba(255, 255, 255, 0.6);
}

.my_dropdownbutton
{
	width: 150px;
	background-color: rgba(235, 235, 235, 0.6);
}

.my_dropdownmenu
{
	background-color: rgba(255, 255, 255, 0.6);
}

.my_row
{
	margin-top: 5px;
	margin-right: 1px;
}